openapi: 3.1.0
info:
  title: Kernel API
  description: Developer tools and cloud infrastructure for AI agents to use web browsers
  version: 0.1.0
servers:
  - url: https://api.onkernel.com
    description: API Server
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    ErrorDetail:
      type: object
      properties:
        code:
          type: string
          description: Lower-level error code providing more specific detail
          example: invalid_input
        message:
          type: string
          description: Further detail about the error
          example: Provided version string is not semver compliant
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: Application-specific error code (machine-readable)
          example: bad_request
        message:
          type: string
          description: Human-readable error description for debugging
          example: 'Missing required field: app_name'
        details:
          type: array
          description: Additional error details (for multiple errors)
          items:
            $ref: '#/components/schemas/ErrorDetail'
        inner_error:
          $ref: '#/components/schemas/ErrorDetail'
    ManagedAuthError:
      type: object
      description: >-
        Extended error response for managed auth operations with recovery
        context
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: Machine-readable error code for programmatic handling
          enum:
            - login_form_not_found
            - navigation_confused
            - domain_not_allowed
            - stuck_in_loop
            - max_attempts_reached
            - website_error
            - network_error
            - element_not_found
            - credentials_invalid
            - mfa_required
            - external_action_required
            - unsupported_auth_method
            - bot_detected
            - captcha_blocked
            - session_expired
            - no_active_flow
            - flow_failed
            - awaiting_input_timeout
            - external_action_timeout
            - max_steps_exceeded
            - browser_error
            - internal_error
          example: login_form_not_found
        message:
          type: string
          description: Human-readable error message suitable for display
          example: >-
            We couldn't find a login form on this page. The website may have
            changed its layout, or the login URL might be incorrect.
        details:
          type: string
          description: Additional technical details for debugging (not shown to end users)
          example: >-
            Searched for login forms at https://example.com/login, found 0 form
            elements
        doc_url:
          type: string
          format: uri
          description: Link to documentation about this error
          example: https://docs.onkernel.com/errors/login_form_not_found
        recoverable:
          type: boolean
          description: Whether the user can retry or take action to resolve this error
          example: true
    InvokeResponse:
      type: object
      properties:
        id:
          type: string
          description: ID of the invocation
          example: rr33xuugxj9h0bkf1rdt2bet
        action_name:
          type: string
          description: Name of the action invoked
          example: analyze
        status:
          type: string
          description: Status of the invocation
          enum:
            - queued
            - running
            - succeeded
            - failed
          example: queued
        status_reason:
          type: string
          description: Status reason
          example: Invocation queued for execution
        output:
          type: string
          description: >-
            The return value of the action that was invoked, rendered as a JSON
            string. This could be: string, number, boolean, array, object, or
            null.
          example: '{"result":"success","data":"processed input"}'
      required:
        - id
        - action_name
        - status
    Invocation:
      type: object
      properties:
        id:
          type: string
          description: ID of the invocation
          example: rr33xuugxj9h0bkf1rdt2bet
        app_name:
          type: string
          description: Name of the application
          example: my-app
        version:
          type: string
          description: Version label for the application
          example: 1.0.0
        action_name:
          type: string
          description: Name of the action invoked
          example: analyze
        payload:
          type: string
          description: >-
            Payload provided to the invocation. This is a string that can be
            parsed as JSON.
          example: '{"data":"example input"}'
        output:
          type: string
          description: >-
            Output produced by the action, rendered as a JSON string. This could
            be: string, number, boolean, array, object, or null.
          example: '{"result":"success","data":"processed input"}'
        started_at:
          type: string
          format: date-time
          description: RFC 3339 Nanoseconds timestamp when the invocation started
          example: 2024-05-19T15:30:00.000000000Z07:00
        finished_at:
          type: string
          format: date-time
          nullable: true
          description: >-
            RFC 3339 Nanoseconds timestamp when the invocation finished (null if
            still running)
          example: 2024-05-19T15:30:05.000000000Z07:00
        status:
          type: string
          description: Status of the invocation
          enum:
            - queued
            - running
            - succeeded
            - failed
          example: succeeded
        status_reason:
          type: string
          description: Status reason
          example: Invocation completed successfully
      required:
        - id
        - app_name
        - version
        - action_name
        - started_at
        - status
    Browser:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          description: When the browser session was created.
        cdp_ws_url:
          type: string
          description: >-
            Websocket URL for Chrome DevTools Protocol connections to the
            browser session
          example: >-
            wss://proxy.yul-upbeat-herschel.onkernel.com:8443/browser/cdp?jwt=eyJ0eXAi...
        webdriver_ws_url:
          type: string
          description: Websocket URL for WebDriver BiDi connections to the browser session
          example: >-
            wss://proxy.yul-upbeat-herschel.onkernel.com:8443/browser/webdriver/session?jwt=eyJ0eXAi...
        browser_live_view_url:
          type: string
          description: >-
            Remote URL for live viewing the browser session. Only available for
            non-headless browsers.
          example: >-
            https://proxy.yul-upbeat-herschel.onkernel.com:8443/browser/live?jwt=eyJ0eXAi...
        base_url:
          type: string
          description: Metro-API HTTP base URL for this browser session.
          example: https://proxy.yul-upbeat-herschel.onkernel.com:8443/browser/kernel
        headless:
          type: boolean
          description: Whether the browser session is running in headless mode.
          example: false
        stealth:
          type: boolean
          description: Whether the browser session is running in stealth mode.
          example: false
        gpu:
          type: boolean
          description: >-
            Whether GPU acceleration is enabled for the browser session (only
            supported for headful sessions).
          example: false
        session_id:
          type: string
          description: Unique identifier for the browser session
          example: htzv5orfit78e1m2biiifpbv
        timeout_seconds:
          type: integer
          description: >-
            The number of seconds of inactivity before the browser session is
            terminated.
        profile:
          $ref: '#/components/schemas/Profile'
        proxy_id:
          type: string
          description: ID of the proxy associated with this browser session, if any.
        pool:
          $ref: '#/components/schemas/BrowserPoolRef'
        viewport:
          $ref: '#/components/schemas/BrowserViewport'
        kiosk_mode:
          type: boolean
          description: Whether the browser session is running in kiosk mode.
          example: false
        start_url:
          type: string
          description: >-
            URL the session was asked to navigate to on creation, if any.
            Recorded for debugging. Navigation is fire-and-forget — the URL is
            dispatched to the browser without waiting for it to load, and any
            errors (DNS failure, bad status, timeout) are silently dropped.
            Captures what was requested, not what the browser actually loaded.
          example: https://example.com
        chrome_policy:
          type: object
          additionalProperties: true
          description: >
            Custom Chrome enterprise policy overrides that were applied to this
            browser session, if any. Echoed back for verification. Keys are
            Chrome enterprise policy names.
        deleted_at:
          type: string
          format: date-time
          description: >-
            When the browser session was soft-deleted. Only present for deleted
            sessions.
        usage:
          $ref: '#/components/schemas/BrowserUsage'
        telemetry:
          $ref: '#/components/schemas/BrowserTelemetryConfig'
          nullable: true
          description: Active telemetry configuration for the session, if any.
      required:
        - created_at
        - cdp_ws_url
        - webdriver_ws_url
        - session_id
        - stealth
        - headless
        - timeout_seconds
    BrowserRequest:
      type: object
      description: |
        Parameters for creating a browser session.
      properties:
        invocation_id:
          type: string
          description: action invocation ID
          example: rr33xuugxj9h0bkf1rdt2bet
        stealth:
          type: boolean
          description: >-
            If true, launches the browser in stealth mode to reduce detection by
            anti-bot mechanisms.
          example: true
        headless:
          type: boolean
          description: >-
            If true, launches the browser using a headless image (no VNC/GUI).
            Defaults to false.
          example: false
        gpu:
          type: boolean
          description: >-
            If true, enables GPU acceleration for the browser session. Requires
            Start-Up or Enterprise plan and headless=false.
          example: false
        timeout_seconds:
          type: integer
          description: >-
            The number of seconds of inactivity before the browser session is
            terminated. Activity includes CDP connections and live view
            connections. Defaults to 60 seconds. Minimum allowed is 10 seconds.
            Maximum allowed is 259200 (72 hours). We check for inactivity every
            5 seconds, so the actual timeout behavior you will see is +/- 5
            seconds around the specified value.
          minimum: 10
          maximum: 259200
        profile:
          $ref: '#/components/schemas/BrowserProfile'
        extensions:
          type: array
          description: >-
            List of browser extensions to load into the session. Provide each by
            id or name.
          maxItems: 20
          items:
            $ref: '#/components/schemas/BrowserExtension'
        proxy_id:
          type: string
          description: >-
            Optional proxy to associate to the browser session. Must reference a
            proxy belonging to the caller's org.
        viewport:
          $ref: '#/components/schemas/BrowserViewport'
        kiosk_mode:
          type: boolean
          description: >-
            If true, launches the browser in kiosk mode to hide address bar and
            tabs in live view.
          example: true
        start_url:
          type: string
          description: >-
            Optional URL to open when the browser session is created. Navigation
            is best-effort, so navigation failures do not prevent the session
            from being created.
          example: https://example.com
        chrome_policy:
          type: object
          additionalProperties: true
          description: >
            Custom Chrome enterprise policy overrides applied to this browser
            session. Keys are Chrome enterprise policy names; values must match
            their expected types. Blocked: kernel-managed policies (extensions,
            proxy, CDP/automation). See
            https://chromeenterprise.google/policies/
        telemetry:
          $ref: '#/components/schemas/BrowserTelemetryConfig'
          nullable: true
          description: >-
            Telemetry configuration for the browser session. If provided,
            telemetry capture starts with the specified category filter when the
            session is created. If omitted, no telemetry capture is started.
      required: []
    BrowserUsage:
      type: object
      description: Session usage metrics.
      properties:
        uptime_ms:
          type: integer
          description: Time in milliseconds the session was actively running.
      required:
        - uptime_ms
    BrowserPoolRef:
      type: object
      description: Browser pool this session was acquired from, if any.
      properties:
        id:
          type: string
          description: Browser pool ID
        name:
          type: string
          description: Browser pool name, if set
      required:
        - id
    BrowserUpdateRequest:
      type: object
      description: Request body for updating a browser session.
      properties:
        proxy_id:
          type: string
          nullable: true
          description: >-
            ID of the proxy to use. Omit to leave unchanged, set to empty string
            to remove proxy.
        disable_default_proxy:
          type: boolean
          description: >-
            If true, stealth browsers connect directly instead of using the
            default stealth proxy.
        profile:
          $ref: '#/components/schemas/BrowserProfile'
          description: >-
            Profile to load into the browser session. Only allowed if the
            session does not already have a profile loaded.
        viewport:
          $ref: '#/components/schemas/BrowserViewportUpdate'
          description: Viewport configuration to apply to the browser session.
        telemetry:
          $ref: '#/components/schemas/BrowserTelemetryConfig'
          nullable: true
          description: >
            Telemetry configuration. Omit, set to null, or set to an empty
            object ({}) to leave the existing configuration unchanged (no-op).
            To enable capture for all categories using VM defaults, set browser
            to an empty object ({"browser": {}}). To stop capture, set every
            category's enabled to false.
    BrowserTelemetryConfig:
      type: object
      description: Telemetry configuration for a browser session.
      properties:
        browser:
          $ref: '#/components/schemas/BrowserTelemetryCategoriesConfig'
          description: >-
            Per-category enable/disable flags. If omitted, all categories are
            captured.
    BrowserTelemetryCategoriesConfig:
      type: object
      description: Per-category telemetry capture settings.
      properties:
        console:
          $ref: '#/components/schemas/BrowserTelemetryCategoryConfig'
          description: Console output (log, warn, error) and uncaught exceptions.
        page:
          $ref: '#/components/schemas/BrowserTelemetryCategoryConfig'
          description: >-
            Page lifecycle events including navigation, DOMContentLoaded, load,
            layout shifts, and LCP.
        interaction:
          $ref: '#/components/schemas/BrowserTelemetryCategoryConfig'
          description: >-
            User interaction events including clicks, keydowns, and
            scroll-settled events.
        network:
          $ref: '#/components/schemas/BrowserTelemetryCategoryConfig'
          description: >-
            HTTP request and response metadata including URL, method, status
            code, and timing. Request post data is forwarded as-is from CDP.
            Text response bodies are truncated at 8 KB for structured types
            (JSON, XML, form data) and 4 KB for other text types. Binary
            responses (images, fonts, media) are excluded.
    BrowserTelemetryCategoryConfig:
      type: object
      description: Per-category telemetry configuration.
      properties:
        enabled:
          type: boolean
          description: Whether this category is captured. Defaults to true if omitted.
    BrowserEventSource:
      type: object
      description: Provenance metadata identifying which producer emitted the event.
      required:
        - kind
      properties:
        kind:
          type: string
          enum:
            - cdp
            - kernel_api
            - extension
            - local_process
          description: >-
            Event producer. cdp: Chrome DevTools Protocol events from the
            browser. kernel_api: Kernel API server. extension: injected Chrome
            extension. local_process: system process running alongside the
            browser.
        event:
          type: string
          description: >-
            Producer-specific event name (e.g. Runtime.consoleAPICalled for
            CDP-sourced console events, Runtime.exceptionThrown for uncaught
            exceptions).
        metadata:
          type: object
          description: Producer-specific context (e.g. CDP target/session/frame IDs).
          additionalProperties:
            type: string
    BrowserCallStack:
      type: object
      description: >-
        CDP Runtime.StackTrace representing the JavaScript call stack at the
        time of an event. Fields use CDP naming conventions rather than
        snake_case to match the Chrome DevTools Protocol wire format.
      required:
        - callFrames
      properties:
        description:
          type: string
          description: Optional label for the stack trace (e.g. async cause).
        callFrames:
          type: array
          description: Ordered list of call frames, outermost first.
          items:
            type: object
            required:
              - functionName
              - scriptId
              - url
              - lineNumber
              - columnNumber
            properties:
              functionName:
                type: string
                description: >-
                  JavaScript function name, or empty string for anonymous
                  functions.
              scriptId:
                type: string
                description: CDP script identifier.
              url:
                type: string
                description: URL or name of the script file.
              lineNumber:
                type: integer
                description: Zero-based line number within the script.
              columnNumber:
                type: integer
                description: Zero-based column number within the line.
        parent:
          $ref: '#/components/schemas/BrowserCallStack'
          description: Parent stack trace for async stacks.
    BrowserHttpHeaders:
      type: object
      description: >-
        HTTP headers map forwarded as-is from CDP without normalization. Values
        are typically strings but may be any JSON type.
      additionalProperties: true
    BrowserTargetType:
      type: string
      description: CDP target type of the page that produced the event.
      enum:
        - page
        - background_page
        - service_worker
        - shared_worker
        - other
    BrowserEventContext:
      type: object
      description: >-
        Browser event context stamped by the browser monitor onto all
        CDP-sourced events. Identifies the target, frame, and navigation epoch
        in which the event occurred.
      properties:
        session_id:
          type: string
          description: CDP session identifier for the target connection.
        target_id:
          type: string
          description: Browser target identifier (stable across navigations within a tab).
        target_type:
          $ref: '#/components/schemas/BrowserTargetType'
        frame_id:
          type: string
          description: CDP frame identifier within the target.
        loader_id:
          type: string
          description: CDP document loader identifier, reset on each navigation.
        url:
          type: string
          description: >-
            URL relevant to this event — page URL for navigation and page
            events, request URL for network events.
        nav_seq:
          type: integer
          format: int64
          description: >-
            Monotonically increasing navigation sequence number, incremented on
            each top-level navigation within the target.
    BrowserConsoleLogEvent:
      type: object
      description: >-
        A browser console log event (console.log, console.info, console.warn,
        etc.).
      required:
        - ts
        - type
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: console_log
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          allOf:
            - $ref: '#/components/schemas/BrowserEventContext'
            - type: object
              properties:
                level:
                  type: string
                  description: >-
                    CDP Runtime.consoleAPICalled type, passed through unfiltered
                    from Chrome. error is routed to console_error events
                    instead; all other CDP console types appear here. See CDP
                    spec for the full enum.
                text:
                  type: string
                  description: First console argument coerced to string.
                args:
                  type: array
                  description: All console arguments coerced to strings.
                  items:
                    type: string
                stack_trace:
                  $ref: '#/components/schemas/BrowserCallStack'
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserConsoleErrorEvent:
      type: object
      description: >
        A browser console error or uncaught JavaScript exception event. Emitted
        from two distinct CDP sources with different data shapes.
        Runtime.consoleAPICalled (console.error calls) produces level, text,
        args, and stack_trace. Runtime.exceptionThrown (uncaught exceptions)
        produces text, line, column, source_url, and stack_trace. Fields not
        applicable to the source are absent.
      required:
        - ts
        - type
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: console_error
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          allOf:
            - $ref: '#/components/schemas/BrowserEventContext'
            - type: object
              required:
                - text
              properties:
                text:
                  type: string
                  description: Error message text. Present in both source paths.
                stack_trace:
                  $ref: '#/components/schemas/BrowserCallStack'
                level:
                  type: string
                  description: >-
                    CDP console type value, always "error". Present only when
                    sourced from Runtime.consoleAPICalled.
                args:
                  type: array
                  description: >-
                    All console arguments coerced to strings. Present only when
                    sourced from Runtime.consoleAPICalled.
                  items:
                    type: string
                line:
                  type: integer
                  description: >-
                    Line number in the script where the exception was thrown.
                    Present only when sourced from Runtime.exceptionThrown.
                column:
                  type: integer
                  description: >-
                    Column number in the script where the exception was thrown.
                    Present only when sourced from Runtime.exceptionThrown.
                source_url:
                  type: string
                  description: >-
                    URL of the script file that threw the exception. Present
                    only when sourced from Runtime.exceptionThrown.
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserNetworkRequestEvent:
      type: object
      description: A browser network request sent event.
      required:
        - ts
        - type
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: network_request
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          allOf:
            - $ref: '#/components/schemas/BrowserEventContext'
            - type: object
              properties:
                request_id:
                  type: string
                  description: CDP request identifier, unique within the session.
                method:
                  type: string
                  description: HTTP method as sent on the wire (e.g. GET, POST).
                document_url:
                  type: string
                  description: URL of the document that initiated the request.
                headers:
                  $ref: '#/components/schemas/BrowserHttpHeaders'
                  description: Request headers.
                resource_type:
                  type: string
                  description: >-
                    CDP Network.ResourceType for the request, passed through
                    as-is from Chrome. Known values include Document, Fetch,
                    XHR, Script, Stylesheet, Image, Media, Font, TextTrack,
                    EventSource, WebSocket, Manifest, Prefetch, Other, and more.
                initiator_type:
                  type: string
                  description: >-
                    CDP Initiator.type indicating what caused the request,
                    passed through as-is from Chrome. Known values include
                    script, parser, preload, and other.
                post_data:
                  type: string
                  description: Request body for POST/PUT requests, if available.
                is_redirect:
                  type: boolean
                  description: True if this request is the result of a redirect.
                redirect_url:
                  type: string
                  description: >-
                    Original URL before the redirect, present when is_redirect
                    is true.
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserNetworkResponseEvent:
      type: object
      description: >-
        A browser network response received event. Fired after the response body
        is fully received, not when headers arrive.
      required:
        - ts
        - type
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: network_response
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          allOf:
            - $ref: '#/components/schemas/BrowserEventContext'
            - type: object
              properties:
                request_id:
                  type: string
                  description: >-
                    CDP request identifier matching the originating
                    network_request event.
                method:
                  type: string
                  description: HTTP method of the original request.
                status:
                  type: integer
                  description: HTTP response status code.
                status_text:
                  type: string
                  description: HTTP response status text (e.g. OK, Not Found).
                headers:
                  $ref: '#/components/schemas/BrowserHttpHeaders'
                  description: Response headers.
                mime_type:
                  type: string
                  description: >-
                    MIME type of the response (e.g. text/html,
                    application/json).
                resource_type:
                  type: string
                  description: >-
                    CDP Network.ResourceType for the request, passed through
                    as-is from Chrome. Known values include Document, Fetch,
                    XHR, Script, Stylesheet, Image, Media, Font, TextTrack,
                    EventSource, WebSocket, Manifest, Prefetch, Other, and more.
                body:
                  type: string
                  description: Truncated response body, present only for text MIME types.
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserNetworkLoadingFailedEvent:
      type: object
      description: >-
        A browser network loading failed event. If the request was already in
        flight when CDP attached (no prior network_request was emitted for it),
        url, frame_id, loader_id, and resource_type are absent;
        BrowserEventContext is partially populated in that case.
      required:
        - ts
        - type
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: network_loading_failed
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          allOf:
            - $ref: '#/components/schemas/BrowserEventContext'
            - type: object
              properties:
                request_id:
                  type: string
                  description: >-
                    CDP request identifier matching the originating
                    network_request event.
                error_text:
                  type: string
                  description: >-
                    Network error description (e.g.
                    net::ERR_CONNECTION_REFUSED).
                canceled:
                  type: boolean
                  description: >-
                    True if the request was canceled by the browser or page
                    script.
                resource_type:
                  type: string
                  description: >-
                    CDP Network.ResourceType for the request, passed through
                    as-is from Chrome. Known values include Document, Fetch,
                    XHR, Script, Stylesheet, Image, Media, Font, TextTrack,
                    EventSource, WebSocket, Manifest, Prefetch, Other, and more.
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserNetworkIdleEvent:
      type: object
      description: >-
        A browser network idle event emitted after a 500ms quiet period with no
        in-flight HTTP requests.
      required:
        - ts
        - type
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: network_idle
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          $ref: '#/components/schemas/BrowserEventContext'
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserPageNavigationEvent:
      type: object
      description: >-
        A browser page navigation started event (CDP Page.frameNavigated).
        Carries nav context fields inline but not nav_seq, as this event resets
        the navigation epoch.
      required:
        - ts
        - type
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: page_navigation
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          type: object
          additionalProperties: false
          properties:
            url:
              type: string
              description: URL navigated to.
            frame_id:
              type: string
              description: CDP frame identifier of the navigated frame.
            parent_frame_id:
              type: string
              description: >-
                Parent frame identifier for subframe navigations; absent for
                top-level navigations.
            loader_id:
              type: string
              description: New CDP document loader identifier assigned for this navigation.
            session_id:
              type: string
              description: CDP session identifier.
            target_id:
              type: string
              description: Browser target identifier.
            target_type:
              $ref: '#/components/schemas/BrowserTargetType'
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserPageDomContentLoadedEvent:
      type: object
      description: A browser DOMContentLoaded event (CDP Page.domContentEventFired).
      required:
        - ts
        - type
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: page_dom_content_loaded
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          allOf:
            - $ref: '#/components/schemas/BrowserEventContext'
            - type: object
              properties:
                cdp_timestamp:
                  type: number
                  description: >-
                    Chrome monotonic clock value in seconds at which
                    DOMContentLoaded fired, relative to browser process start
                    (not Unix epoch). Use ts for wall-clock time.
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserPageLoadEvent:
      type: object
      description: A browser page load event (CDP Page.loadEventFired).
      required:
        - ts
        - type
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: page_load
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          allOf:
            - $ref: '#/components/schemas/BrowserEventContext'
            - type: object
              properties:
                cdp_timestamp:
                  type: number
                  description: >-
                    Chrome monotonic clock value in seconds at which the load
                    event fired, relative to browser process start (not Unix
                    epoch). Use ts for wall-clock time.
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserPageTabOpenedEvent:
      type: object
      description: >-
        A new browser tab or target was opened (CDP Target.attachedToTarget for
        page targets). Fires before a CDP session is attached to the new target,
        so session_id, frame_id, loader_id, and nav_seq are absent; this event
        does not compose BrowserEventContext. Consumers reading context fields
        generically should treat it as a special case.
      required:
        - ts
        - type
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: page_tab_opened
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          type: object
          additionalProperties: false
          properties:
            target_id:
              type: string
              description: CDP target identifier for the newly opened tab.
            target_type:
              $ref: '#/components/schemas/BrowserTargetType'
            url:
              type: string
              description: Initial URL of the new tab.
            title:
              type: string
              description: Initial page title of the new tab.
            opener_id:
              type: string
              description: Target identifier of the tab that opened this one, if any.
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserPageLayoutShiftEvent:
      type: object
      description: >-
        A browser cumulative layout shift (CLS) event from the Performance
        Timeline API.
      required:
        - ts
        - type
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: page_layout_shift
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          allOf:
            - $ref: '#/components/schemas/BrowserEventContext'
            - type: object
              properties:
                source_frame_id:
                  type: string
                  description: >-
                    CDP frame identifier of the frame where the layout shift
                    occurred.
                time:
                  type: number
                  description: >-
                    Performance Timeline timestamp of the layout shift in
                    milliseconds.
                duration:
                  type: number
                  description: >-
                    Duration of the layout shift entry in milliseconds (always 0
                    for layout shifts per spec).
                layout_shift_details:
                  type: object
                  additionalProperties: false
                  description: >-
                    PerformanceLayoutShift attributes from the Performance
                    Timeline entry.
                  properties:
                    value:
                      type: number
                      description: Layout shift score for this entry (contribution to CLS).
                    had_recent_input:
                      type: boolean
                      description: >-
                        True if the layout shift was preceded by user input
                        within 500ms, excluding it from CLS.
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserPageLcpEvent:
      type: object
      description: >-
        A browser Largest Contentful Paint (LCP) event from the Performance
        Timeline API.
      required:
        - ts
        - type
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: page_lcp
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          allOf:
            - $ref: '#/components/schemas/BrowserEventContext'
            - type: object
              properties:
                source_frame_id:
                  type: string
                  description: >-
                    CDP frame identifier of the frame where the LCP element was
                    rendered.
                time:
                  type: number
                  description: >-
                    Performance Timeline timestamp of the LCP entry in
                    milliseconds.
                lcp_details:
                  type: object
                  additionalProperties: false
                  description: >-
                    LargestContentfulPaint attributes from the Performance
                    Timeline entry.
                  properties:
                    render_time:
                      type: number
                      description: >-
                        Render time of the LCP element in milliseconds; 0 for
                        cross-origin images without Timing-Allow-Origin.
                    load_time:
                      type: number
                      description: Load time of the LCP element in milliseconds.
                    size:
                      type: number
                      description: Visible area of the LCP element in pixels squared.
                    element_id:
                      type: string
                      description: id attribute of the LCP element, if present.
                    url:
                      type: string
                      description: URL of the LCP element for image or video elements.
                    node_id:
                      type: integer
                      description: CDP DOM node identifier of the LCP element.
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserPageLayoutSettledEvent:
      type: object
      description: >-
        A browser layout settled event emitted 1 second after page load with no
        intervening layout shifts, indicating visual stability. Each layout
        shift resets the 1-second timer.
      required:
        - ts
        - type
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: page_layout_settled
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          $ref: '#/components/schemas/BrowserEventContext'
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserPageNavigationSettledEvent:
      type: object
      description: >-
        Emitted when page_dom_content_loaded and page_layout_settled have both
        fired for the same navigation, indicating the page is loaded and
        visually stable. Independent of network_idle; a single pending request
        does not block it.
      required:
        - ts
        - type
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: page_navigation_settled
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          $ref: '#/components/schemas/BrowserEventContext'
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserInteractionClickEvent:
      type: object
      description: A browser user click event captured via injected page script.
      required:
        - ts
        - type
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: interaction_click
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          allOf:
            - $ref: '#/components/schemas/BrowserEventContext'
            - type: object
              properties:
                x:
                  type: integer
                  description: Viewport x-coordinate of the click in CSS pixels.
                'y':
                  type: integer
                  description: Viewport y-coordinate of the click in CSS pixels.
                selector:
                  type: string
                  description: CSS selector path to the clicked element.
                tag:
                  type: string
                  description: >-
                    HTML tag name of the clicked element in uppercase (e.g.
                    BUTTON, A, DIV).
                text:
                  type: string
                  description: Visible text content of the clicked element, trimmed.
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserInteractionKeyEvent:
      type: object
      description: A browser keyboard event captured via injected page script.
      required:
        - ts
        - type
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: interaction_key
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          allOf:
            - $ref: '#/components/schemas/BrowserEventContext'
            - type: object
              properties:
                key:
                  type: string
                  description: Key value from the KeyboardEvent (e.g. Enter, Backspace, a).
                selector:
                  type: string
                  description: >-
                    CSS selector path to the element that had focus when the key
                    was pressed.
                tag:
                  type: string
                  description: >-
                    HTML tag name of the focused element in uppercase (e.g.
                    INPUT, TEXTAREA, DIV).
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserInteractionScrollSettledEvent:
      type: object
      description: >-
        A browser scroll settled event emitted after scroll position stops
        changing, captured via injected page script.
      required:
        - ts
        - type
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: interaction_scroll_settled
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          allOf:
            - $ref: '#/components/schemas/BrowserEventContext'
            - type: object
              properties:
                from_x:
                  type: integer
                  description: >-
                    Scroll x-position at the start of the scroll gesture in CSS
                    pixels.
                from_y:
                  type: integer
                  description: >-
                    Scroll y-position at the start of the scroll gesture in CSS
                    pixels.
                to_x:
                  type: integer
                  description: >-
                    Final scroll x-position after the gesture settled in CSS
                    pixels.
                to_y:
                  type: integer
                  description: >-
                    Final scroll y-position after the gesture settled in CSS
                    pixels.
                target_selector:
                  type: string
                  description: CSS selector path to the scrolled element.
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserMonitorScreenshotEvent:
      type: object
      description: A periodic screenshot of the browser viewport.
      required:
        - ts
        - type
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: monitor_screenshot
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          type: object
          additionalProperties: false
          properties:
            png:
              type: string
              contentEncoding: base64
              description: Base64-encoded PNG screenshot of the browser viewport.
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserMonitorDisconnectedEvent:
      type: object
      description: >-
        The CDP connection to Chrome was lost. Telemetry events may be dropped
        until monitor_reconnected arrives. Treat any in-progress computed state
        (network_idle, page_layout_settled) as unreliable until then.
      required:
        - ts
        - type
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: monitor_disconnected
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          type: object
          additionalProperties: false
          properties:
            reason:
              type: string
              description: >-
                Reason for the disconnection. chrome_restarted: Chrome process
                restarted.
              enum:
                - chrome_restarted
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserMonitorReconnectedEvent:
      type: object
      description: >-
        The CDP connection to Chrome was successfully re-established after a
        disconnection. Events emitted during the gap are lost. Computed state is
        reset, so navigation and network tracking restart fresh from this point.
      required:
        - ts
        - type
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: monitor_reconnected
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          type: object
          additionalProperties: false
          properties:
            reconnect_duration_ms:
              type: integer
              format: int64
              description: >-
                Wall-clock time in milliseconds taken to reconnect after the
                disconnection.
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserMonitorReconnectFailedEvent:
      type: object
      description: >-
        The CDP connection to Chrome could not be re-established after
        exhausting all reconnection attempts. No further telemetry events will
        arrive on this session.
      required:
        - ts
        - type
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: monitor_reconnect_failed
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          type: object
          additionalProperties: false
          properties:
            reason:
              type: string
              description: >-
                Reason for the reconnection failure. reconnect_exhausted: all
                retry attempts were used up without successfully restoring the
                CDP connection.
              enum:
                - reconnect_exhausted
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserMonitorInitFailedEvent:
      type: object
      description: The CDP session could not be initialized.
      required:
        - ts
        - type
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: monitor_init_failed
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          type: object
          additionalProperties: false
          properties:
            step:
              type: string
              description: >-
                The CDP method or initialization step that failed (e.g.
                Target.setAutoAttach).
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserTelemetryEvent:
      oneOf:
        - $ref: '#/components/schemas/BrowserConsoleLogEvent'
        - $ref: '#/components/schemas/BrowserConsoleErrorEvent'
        - $ref: '#/components/schemas/BrowserNetworkRequestEvent'
        - $ref: '#/components/schemas/BrowserNetworkResponseEvent'
        - $ref: '#/components/schemas/BrowserNetworkLoadingFailedEvent'
        - $ref: '#/components/schemas/BrowserNetworkIdleEvent'
        - $ref: '#/components/schemas/BrowserPageNavigationEvent'
        - $ref: '#/components/schemas/BrowserPageDomContentLoadedEvent'
        - $ref: '#/components/schemas/BrowserPageLoadEvent'
        - $ref: '#/components/schemas/BrowserPageTabOpenedEvent'
        - $ref: '#/components/schemas/BrowserPageLayoutShiftEvent'
        - $ref: '#/components/schemas/BrowserPageLcpEvent'
        - $ref: '#/components/schemas/BrowserPageLayoutSettledEvent'
        - $ref: '#/components/schemas/BrowserPageNavigationSettledEvent'
        - $ref: '#/components/schemas/BrowserInteractionClickEvent'
        - $ref: '#/components/schemas/BrowserInteractionKeyEvent'
        - $ref: '#/components/schemas/BrowserInteractionScrollSettledEvent'
        - $ref: '#/components/schemas/BrowserMonitorScreenshotEvent'
        - $ref: '#/components/schemas/BrowserMonitorDisconnectedEvent'
        - $ref: '#/components/schemas/BrowserMonitorReconnectedEvent'
        - $ref: '#/components/schemas/BrowserMonitorReconnectFailedEvent'
        - $ref: '#/components/schemas/BrowserMonitorInitFailedEvent'
      discriminator:
        propertyName: type
        mapping:
          console_log: '#/components/schemas/BrowserConsoleLogEvent'
          console_error: '#/components/schemas/BrowserConsoleErrorEvent'
          network_request: '#/components/schemas/BrowserNetworkRequestEvent'
          network_response: '#/components/schemas/BrowserNetworkResponseEvent'
          network_loading_failed: '#/components/schemas/BrowserNetworkLoadingFailedEvent'
          network_idle: '#/components/schemas/BrowserNetworkIdleEvent'
          page_navigation: '#/components/schemas/BrowserPageNavigationEvent'
          page_dom_content_loaded: '#/components/schemas/BrowserPageDomContentLoadedEvent'
          page_load: '#/components/schemas/BrowserPageLoadEvent'
          page_tab_opened: '#/components/schemas/BrowserPageTabOpenedEvent'
          page_layout_shift: '#/components/schemas/BrowserPageLayoutShiftEvent'
          page_lcp: '#/components/schemas/BrowserPageLcpEvent'
          page_layout_settled: '#/components/schemas/BrowserPageLayoutSettledEvent'
          page_navigation_settled: '#/components/schemas/BrowserPageNavigationSettledEvent'
          interaction_click: '#/components/schemas/BrowserInteractionClickEvent'
          interaction_key: '#/components/schemas/BrowserInteractionKeyEvent'
          interaction_scroll_settled: '#/components/schemas/BrowserInteractionScrollSettledEvent'
          monitor_screenshot: '#/components/schemas/BrowserMonitorScreenshotEvent'
          monitor_disconnected: '#/components/schemas/BrowserMonitorDisconnectedEvent'
          monitor_reconnected: '#/components/schemas/BrowserMonitorReconnectedEvent'
          monitor_reconnect_failed: '#/components/schemas/BrowserMonitorReconnectFailedEvent'
          monitor_init_failed: '#/components/schemas/BrowserMonitorInitFailedEvent'
      description: >
        Union type representing any browser telemetry event. Discriminated on
        `type`. Events with a `monitor_` prefix (monitor_screenshot,
        monitor_disconnected, monitor_reconnected, monitor_reconnect_failed,
        monitor_init_failed) are always emitted regardless of the category
        configuration in BrowserTelemetryConfig. All other event types are
        controlled by the per-category enable/disable flags.
    BrowserTelemetryEventEnvelope:
      type: object
      description: >
        Envelope wrapping a browser telemetry event with its monotonic sequence
        number. Each SSE data: frame carries one envelope as JSON. The seq value
        is also emitted as the SSE id: field so clients can pass it as
        Last-Event-ID on reconnect.
      required:
        - seq
        - event
      properties:
        seq:
          type: integer
          format: int64
          minimum: 1
          description: >
            Process-monotonic sequence number assigned by the browser VM. Pass
            as Last-Event-ID on reconnect to resume without gaps. Gaps in
            received seq values indicate dropped events.
        event:
          $ref: '#/components/schemas/BrowserTelemetryEvent'
      additionalProperties: false
    Profile:
      type: object
      description: Browser profile metadata.
      properties:
        id:
          type: string
          description: Unique identifier for the profile
        name:
          type: string
          nullable: true
          description: Optional, easier-to-reference name for the profile
        created_at:
          type: string
          format: date-time
          description: Timestamp when the profile was created
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the profile was last updated
        last_used_at:
          type: string
          format: date-time
          description: Timestamp when the profile was last used
      required:
        - id
        - created_at
    ProfileRequest:
      type: object
      description: Request body for creating a profile.
      properties:
        name:
          type: string
          description: Optional name of the profile. Must be unique within the project.
      required: []
    BrowserProfile:
      type: object
      description: >
        Profile selection for the browser session. Provide either id or name. If
        specified, the

        matching profile will be loaded into the browser session. Profiles must
        be created beforehand.
      properties:
        id:
          type: string
          description: Profile ID to load for this browser session
        name:
          type: string
          minLength: 1
          maxLength: 255
          pattern: ^[a-zA-Z0-9._-]{1,255}$
          description: >-
            Profile name to load for this browser session (instead of id). Must
            be 1-255 characters, using letters, numbers, dots, underscores, or
            hyphens.
        save_changes:
          type: boolean
          description: >-
            If true, save changes made during the session back to the profile
            when the session ends.
          default: false
      oneOf:
        - required:
            - id
        - required:
            - name
    ProxyRef:
      type: object
      description: >
        Proxy selection. Provide either id or name. The proxy must belong to the
        caller's org.
      properties:
        id:
          type: string
          description: Proxy ID
        name:
          type: string
          description: Proxy name
      oneOf:
        - required:
            - id
        - required:
            - name
    BrowserViewport:
      type: object
      description: >
        Initial browser window size in pixels with optional refresh rate.

        If omitted, image defaults apply (1920x1080@25).

        For GPU images, the default is 1920x1080@60.

        Arbitrary viewport dimensions and refresh rates are accepted.

        Known-good presets include:

        2560x1440@10, 1920x1080@25, 1920x1200@25, 1440x900@25, 1280x800@60,
        1024x768@60, 1200x800@60.

        For GPU images, recommended presets use one of these resolutions with
        refresh rates 60, 30, 25, or 10:

        800x600, 960x720, 1024x576, 1024x768, 1152x648, 1200x800, 1280x720,
        1368x768, 1440x900, 1600x900, 1920x1080, 1920x1200, 390x844, 360x250,
        768x1024, 800x1600.

        Viewports outside this list may exhibit unstable live view or recording
        behavior.

        If refresh_rate is not provided, it will be automatically determined
        based on the resolution

        (higher resolutions use lower refresh rates to keep bandwidth
        reasonable).
      properties:
        width:
          type: integer
          description: Browser window width in pixels.
          minimum: 320
          maximum: 7680
          example: 1280
        height:
          type: integer
          description: Browser window height in pixels.
          minimum: 240
          maximum: 4320
          example: 800
        refresh_rate:
          type: integer
          description: >-
            Display refresh rate in Hz. If omitted, automatically determined
            from width and height.
          example: 60
      required:
        - width
        - height
    BrowserViewportUpdate:
      description: >-
        Viewport configuration for updating a browser session. Extends
        BrowserViewport with update-only options.
      allOf:
        - $ref: '#/components/schemas/BrowserViewport'
        - type: object
          properties:
            force:
              type: boolean
              default: false
              description: >
                If true, allow the viewport change even when a live view or
                recording/replay is active.

                Active recordings will be gracefully stopped and restarted at
                the new resolution as

                separate segments. If false (default), the resize is refused
                when a live view or recording is active.
    Extension:
      type: object
      description: A browser extension uploaded to Kernel.
      properties:
        id:
          type: string
          description: Unique identifier for the extension
        name:
          type: string
          nullable: true
          description: >-
            Optional, easier-to-reference name for the extension. Must be unique
            within the project.
        created_at:
          type: string
          format: date-time
          description: Timestamp when the extension was created
        size_bytes:
          type: integer
          description: Size of the extension archive in bytes
        last_used_at:
          type: string
          format: date-time
          nullable: true
          description: Timestamp when the extension was last used
      required:
        - id
        - created_at
        - size_bytes
    BrowserExtension:
      type: object
      description: >
        Extension selection for the browser session. Provide either id or name
        of an extension uploaded to Kernel.
      properties:
        id:
          type: string
          description: Extension ID to load for this browser session
        name:
          type: string
          minLength: 1
          maxLength: 255
          pattern: ^[a-zA-Z0-9._-]{1,255}$
          description: >-
            Extension name to load for this browser session (instead of id).
            Must be 1-255 characters, using letters, numbers, dots, underscores,
            or hyphens.
      oneOf:
        - required:
            - id
        - required:
            - name
    BrowserPoolRequest:
      type: object
      description: >
        Parameters for creating a browser pool. All browsers in the pool will be
        created with the same configuration.
      properties:
        name:
          type: string
          pattern: ^[a-zA-Z0-9._-]{1,255}$
          description: >-
            Optional name for the browser pool. Must be unique within the
            project.
          example: my-pool
        size:
          type: integer
          description: >
            Number of browsers to maintain in the pool. The maximum size is
            determined by your

            organization's pooled sessions limit (the sum of all pool sizes
            cannot exceed your limit).
          minimum: 1
          example: 10
        fill_rate_per_minute:
          type: integer
          description: Percentage of the pool to fill per minute. Defaults to 10%.
          minimum: 0
          maximum: 25
          default: 10
        timeout_seconds:
          type: integer
          description: >-
            Default idle timeout in seconds for browsers acquired from this pool
            before they are destroyed. Defaults to 600 seconds if not specified
          minimum: 60
          maximum: 86400
          default: 600
        stealth:
          type: boolean
          description: >-
            If true, launches the browser in stealth mode to reduce detection by
            anti-bot mechanisms.
          example: true
        headless:
          type: boolean
          description: >-
            If true, launches the browser using a headless image. Defaults to
            false.
          example: false
        profile:
          $ref: '#/components/schemas/BrowserProfile'
        extensions:
          type: array
          description: >-
            List of browser extensions to load into the session. Provide each by
            id or name.
          maxItems: 20
          items:
            $ref: '#/components/schemas/BrowserExtension'
        proxy_id:
          type: string
          description: >-
            Optional proxy to associate to the browser session. Must reference a
            proxy belonging to the caller's org.
        viewport:
          $ref: '#/components/schemas/BrowserViewport'
        kiosk_mode:
          type: boolean
          description: >-
            If true, launches the browser in kiosk mode to hide address bar and
            tabs in live view.
          example: true
        chrome_policy:
          type: object
          additionalProperties: true
          description: >
            Custom Chrome enterprise policy overrides applied to all browsers in
            this pool. Keys are Chrome enterprise policy names; values must
            match their expected types. Blocked: kernel-managed policies
            (extensions, proxy, CDP/automation). See
            https://chromeenterprise.google/policies/
        start_url:
          type: string
          description: >-
            Optional URL to navigate to when a new browser is warmed into the
            pool. Best-effort: failures to navigate do not fail pool fill. Only
            applied to newly-warmed browsers; browsers reused via
            release/acquire keep whatever URL the previous lease left them on.
            Accepts any URL Chromium can resolve, including chrome:// pages.
          example: https://example.com
      required:
        - size
    BrowserPoolUpdateRequest:
      type: object
      description: >
        Parameters for updating a browser pool. All browsers in the pool will be
        created with the same configuration.
      allOf:
        - $ref: '#/components/schemas/BrowserPoolRequest'
        - type: object
          properties:
            discard_all_idle:
              type: boolean
              description: >-
                Whether to discard all idle browsers and rebuild the pool
                immediately. Defaults to false.
              example: false
              default: false
    BrowserPoolDeleteRequest:
      type: object
      description: |
        Parameters for deleting a browser pool.
      properties:
        force:
          type: boolean
          default: false
          description: >-
            If true, force delete even if browsers are currently leased. Leased
            browsers will be terminated.
      required: []
    BrowserPool:
      type: object
      description: A browser pool containing multiple identically configured browsers.
      properties:
        id:
          type: string
          description: Unique identifier for the browser pool
          example: iv25ujqf37x3j07dwoffegqr
        name:
          type: string
          description: Browser pool name, if set
          example: my-pool
        available_count:
          type: integer
          description: Number of browsers currently available in the pool
          example: 85
        acquired_count:
          type: integer
          description: Number of browsers currently acquired from the pool
          example: 15
        created_at:
          type: string
          format: date-time
          description: Timestamp when the browser pool was created
        browser_pool_config:
          $ref: '#/components/schemas/BrowserPoolRequest'
          description: Configuration used to create all browsers in this pool
      required:
        - id
        - available_count
        - acquired_count
        - created_at
        - browser_pool_config
    BrowserPoolAcquireRequest:
      type: object
      description: Request body for acquiring a browser from the pool.
      properties:
        acquire_timeout_seconds:
          type: integer
          description: >-
            Maximum number of seconds to wait for a browser to be available.
            Defaults to the calculated time it would take to fill the pool at
            the currently configured fill rate.
      required: []
    BrowserPoolReleaseRequest:
      type: object
      description: Request body for releasing a browser back to the pool.
      properties:
        session_id:
          type: string
          description: Browser session ID to release back to the pool
          example: ts8iy3sg25ibheguyni2lg9t
        reuse:
          type: boolean
          description: >-
            Whether to reuse the browser instance or destroy it and create a new
            one. Defaults to true.
          default: true
          example: false
      required:
        - session_id
    LogEvent:
      type: object
      description: A log entry from the application.
      required:
        - event
        - message
        - timestamp
      properties:
        event:
          type: string
          const: log
          description: Event type identifier (always "log").
        timestamp:
          type: string
          format: date-time
          description: Time the log entry was produced.
        message:
          type: string
          description: Log message text.
    AppVersionSummaryEvent:
      type: object
      description: Summary of an application version.
      required:
        - event
        - timestamp
        - id
        - app_name
        - version
        - region
        - actions
      properties:
        event:
          type: string
          const: app_version_summary
          description: Event type identifier (always "app_version_summary").
        timestamp:
          type: string
          format: date-time
          description: Time the state was reported.
        id:
          type: string
          description: Unique identifier for the app version
          example: rr33xuugxj9h0bkf1rdt2bet
        app_name:
          type: string
          description: Name of the application
          example: my-app
        version:
          type: string
          description: Version label for the application
          example: 1.0.0
        region:
          type: string
          description: Deployment region code
          example: aws.us-east-1a
          const: aws.us-east-1a
        actions:
          type: array
          description: List of actions available on the app
          items:
            $ref: '#/components/schemas/AppAction'
        env_vars:
          type: object
          description: Environment variables configured for this app version
          additionalProperties:
            type: string
    AppAction:
      type: object
      description: An action available on the app
      required:
        - name
      properties:
        name:
          type: string
          description: Name of the action
          example: analyze
        input_schema:
          type: object
          nullable: true
          description: >-
            JSON Schema (draft-07) describing the expected input payload. Null
            if schema could not be automatically generated.
          additionalProperties: true
        output_schema:
          type: object
          nullable: true
          description: >-
            JSON Schema (draft-07) describing the expected output payload. Null
            if schema could not be automatically generated.
          additionalProperties: true
    ErrorEvent:
      type: object
      description: An error event from the application.
      required:
        - event
        - timestamp
        - error
      properties:
        event:
          type: string
          const: error
          description: Event type identifier (always "error").
        timestamp:
          type: string
          format: date-time
          description: Time the error occurred.
        error:
          $ref: '#/components/schemas/Error'
    AppVersionSummary:
      type: object
      description: Summary of an application version.
      properties:
        id:
          type: string
          description: Unique identifier for the app version
          example: rr33xuugxj9h0bkf1rdt2bet
        app_name:
          type: string
          description: Name of the application
          example: my-app
        version:
          type: string
          description: Version label for the application
          example: 1.0.0
        region:
          type: string
          description: Deployment region code
          example: aws.us-east-1a
          const: aws.us-east-1a
        deployment:
          type: string
          description: Deployment ID
        actions:
          type: array
          description: List of actions available on the app
          items:
            $ref: '#/components/schemas/AppAction'
        env_vars:
          type: object
          description: Environment variables configured for this app version
          additionalProperties:
            type: string
      required:
        - id
        - app_name
        - version
        - region
        - deployment
        - actions
        - env_vars
    InvocationUpdateRequest:
      type: object
      description: Request body for updating an invocation.
      properties:
        status:
          type: string
          description: New status for the invocation.
          enum:
            - succeeded
            - failed
        output:
          type: string
          description: Updated output of the invocation rendered as JSON string.
      required:
        - status
    Deployment:
      type: object
      description: Deployment record information.
      properties:
        id:
          type: string
          description: Unique identifier for the deployment
          example: rr33xuugxj9h0bkf1rdt2bet
        status:
          type: string
          description: Current status of the deployment
          enum:
            - queued
            - in_progress
            - running
            - failed
            - stopped
          example: queued
        status_reason:
          type: string
          description: Status reason
          example: Deployment in progress
        region:
          type: string
          description: Deployment region code
          example: aws.us-east-1a
          const: aws.us-east-1a
        entrypoint_rel_path:
          type: string
          description: Relative path to the application entrypoint
          example: src/app.py
        env_vars:
          type: object
          description: Environment variables configured for this deployment
          additionalProperties:
            type: string
        created_at:
          type: string
          format: date-time
          description: Timestamp when the deployment was created
        updated_at:
          type: string
          format: date-time
          nullable: true
          description: Timestamp when the deployment was last updated
      required:
        - id
        - status
        - region
        - created_at
    DeploymentSource:
      type: object
      description: Source from which to fetch application code.
      properties:
        type:
          type: string
          description: Source type identifier.
          enum:
            - github
          example: github
        url:
          type: string
          description: Base repository URL (without blob/tree suffixes).
          example: https://github.com/org/repo
        ref:
          type: string
          description: Git ref (branch, tag, or commit SHA) to fetch.
          example: main
        path:
          type: string
          description: Path within the repo to deploy (omit to use repo root).
          example: apps/api
        entrypoint:
          type: string
          description: >-
            Relative path to the application entrypoint within the selected
            path.
          example: src/index.ts
        auth:
          type: object
          description: Authentication for private repositories.
          properties:
            method:
              type: string
              enum:
                - github_token
              description: Auth method
              example: github_token
            token:
              type: string
              format: password
              description: GitHub PAT or installation access token
              example: ghs_***
          required:
            - method
            - token
      required:
        - type
        - url
        - ref
        - entrypoint
    DeploymentRequest:
      type: object
      description: >-
        App deployment request. Provide either file+entrypoint_rel_path or
        source.
      properties:
        version:
          type: string
          description: Version of the application. Can be any string.
          example: 1.0.0
          default: latest
        file:
          type: string
          format: binary
          description: ZIP file containing the application source directory
          example: '@path/to/file.zip'
        entrypoint_rel_path:
          type: string
          description: Relative path to the entrypoint of the application
          example: src/app.py
        source:
          $ref: '#/components/schemas/DeploymentSource'
        region:
          type: string
          description: Region for deployment. Currently we only support "aws.us-east-1a"
          example: aws.us-east-1a
          default: aws.us-east-1a
          const: aws.us-east-1a
        force:
          type: boolean
          description: Allow overwriting an existing app version
          example: false
          default: false
        env_vars:
          type: object
          description: >-
            Map of environment variables to set for the deployed application.
            Each key-value pair represents an environment variable.
          additionalProperties:
            type: string
      oneOf:
        - required:
            - file
            - entrypoint_rel_path
        - required:
            - source
    DeploymentStateEvent:
      type: object
      description: An event representing the current state of a deployment.
      required:
        - event
        - deployment
        - timestamp
      properties:
        event:
          type: string
          const: deployment_state
          description: Event type identifier (always "deployment_state").
        deployment:
          $ref: '#/components/schemas/Deployment'
        timestamp:
          type: string
          format: date-time
          description: Time the state was reported.
    DeploymentEvent:
      oneOf:
        - $ref: '#/components/schemas/LogEvent'
        - $ref: '#/components/schemas/DeploymentStateEvent'
        - $ref: '#/components/schemas/AppVersionSummaryEvent'
        - $ref: '#/components/schemas/ErrorEvent'
        - $ref: '#/components/schemas/SSEHeartbeatEvent'
      discriminator:
        propertyName: event
        mapping:
          log: '#/components/schemas/LogEvent'
          deployment_state: '#/components/schemas/DeploymentStateEvent'
          app_version_summary: '#/components/schemas/AppVersionSummary'
          error: '#/components/schemas/InternalError'
          sse_heartbeat: '#/components/schemas/SSEHeartbeatEvent'
      description: Union type representing any deployment event.
    InvocationStateEvent:
      type: object
      description: An event representing the current state of an invocation.
      required:
        - event
        - invocation
        - timestamp
      properties:
        event:
          type: string
          const: invocation_state
          description: Event type identifier (always "invocation_state").
        invocation:
          $ref: '#/components/schemas/Invocation'
        timestamp:
          type: string
          format: date-time
          description: Time the state was reported.
    InvocationEvent:
      oneOf:
        - $ref: '#/components/schemas/LogEvent'
        - $ref: '#/components/schemas/InvocationStateEvent'
        - $ref: '#/components/schemas/ErrorEvent'
        - $ref: '#/components/schemas/SSEHeartbeatEvent'
      discriminator:
        propertyName: event
        mapping:
          log: '#/components/schemas/LogEvent'
          invocation_state: '#/components/schemas/InvocationStateEvent'
          error: '#/components/schemas/ErrorEvent'
          sse_heartbeat: '#/components/schemas/SSEHeartbeatEvent'
      description: Union type representing any invocation event.
    ManagedAuthStateEvent:
      type: object
      description: An event representing the current state of a managed auth flow.
      required:
        - event
        - timestamp
        - flow_status
        - flow_step
      properties:
        event:
          type: string
          const: managed_auth_state
          description: Event type identifier (always "managed_auth_state").
        timestamp:
          type: string
          format: date-time
          description: Time the state was reported.
        flow_status:
          type: string
          enum:
            - IN_PROGRESS
            - SUCCESS
            - FAILED
            - EXPIRED
            - CANCELED
          description: Current flow status.
        flow_step:
          type: string
          enum:
            - DISCOVERING
            - AWAITING_INPUT
            - AWAITING_EXTERNAL_ACTION
            - SUBMITTING
            - COMPLETED
          description: Current step in the flow.
        flow_type:
          type: string
          enum:
            - LOGIN
            - REAUTH
          description: Type of the current flow.
        discovered_fields:
          type: array
          description: >-
            Fields awaiting input (present when flow_step=AWAITING_INPUT; may
            also be present with AWAITING_EXTERNAL_ACTION as fallback actions).
          items:
            $ref: '#/components/schemas/DiscoveredField'
        mfa_options:
          type: array
          description: >-
            MFA method options (present when flow_step=AWAITING_INPUT; may also
            be present with AWAITING_EXTERNAL_ACTION as fallback actions).
          items:
            $ref: '#/components/schemas/MFAOption'
        sign_in_options:
          type: array
          description: >-
            Non-MFA choices presented during the auth flow, such as account
            selection or org pickers (present when flow_step=AWAITING_INPUT; may
            also be present with AWAITING_EXTERNAL_ACTION as fallback actions).
          items:
            $ref: '#/components/schemas/SignInOption'
        pending_sso_buttons:
          type: array
          description: >-
            SSO buttons available (present when flow_step=AWAITING_INPUT; may
            also be present with AWAITING_EXTERNAL_ACTION as fallback actions).
          items:
            $ref: '#/components/schemas/SSOButton'
        external_action_message:
          type: string
          description: >-
            Instructions for external action (present when
            flow_step=AWAITING_EXTERNAL_ACTION).
        website_error:
          type: string
          description: >-
            Visible error message from the website (e.g., 'Incorrect password').
            Present when the website displays an error during login.
        error_message:
          type: string
          description: Error message (present when flow_status=FAILED).
        error_code:
          type: string
          description: Machine-readable error code (present when flow_status=FAILED).
        post_login_url:
          type: string
          format: uri
          description: URL where the browser landed after successful login.
        live_view_url:
          type: string
          format: uri
          description: Browser live view URL for debugging.
        hosted_url:
          type: string
          format: uri
          description: URL to redirect user to for hosted login.
    ManagedAuthEvent:
      oneOf:
        - $ref: '#/components/schemas/ManagedAuthStateEvent'
        - $ref: '#/components/schemas/ErrorEvent'
        - $ref: '#/components/schemas/SSEHeartbeatEvent'
      discriminator:
        propertyName: event
        mapping:
          managed_auth_state: '#/components/schemas/ManagedAuthStateEvent'
          error: '#/components/schemas/ErrorEvent'
          sse_heartbeat: '#/components/schemas/SSEHeartbeatEvent'
      description: Union type representing any managed auth event.
    SSEHeartbeatEvent:
      type: object
      description: Heartbeat event sent periodically to keep SSE connection alive.
      required:
        - event
        - timestamp
      properties:
        event:
          type: string
          const: sse_heartbeat
          description: Event type identifier (always "sse_heartbeat").
        timestamp:
          type: string
          format: date-time
          description: Time the heartbeat was sent.
    BrowserReplay:
      type: object
      description: Information about a browser replay recording.
      required:
        - replay_id
      properties:
        replay_id:
          type: string
          description: Unique identifier for the replay recording.
        started_at:
          type: string
          format: date-time
          nullable: true
          description: Timestamp when replay started
        finished_at:
          type: string
          format: date-time
          nullable: true
          description: Timestamp when replay finished
        replay_view_url:
          type: string
          description: URL for viewing the replay recording.
          example: >-
            https://api.onkernel.com/browser/replays?jwt=eyJ0eXAi...&replay_id=7e2c1a9f-1234-4cde-9abc-ffeedd001122
    StartFsWatchRequest:
      type: object
      required:
        - path
      properties:
        path:
          type: string
          description: Directory to watch.
        recursive:
          type: boolean
          description: Whether to watch recursively.
          default: false
      additionalProperties: false
    FileSystemEvent:
      type: object
      description: Filesystem change event.
      required:
        - type
        - path
      properties:
        type:
          type: string
          enum:
            - CREATE
            - WRITE
            - DELETE
            - RENAME
          description: Event type.
        name:
          type: string
          description: Base name of the file or directory affected.
        path:
          type: string
          description: Absolute path of the file or directory.
        is_dir:
          type: boolean
          description: Whether the affected path is a directory.
    FileInfo:
      type: object
      required:
        - name
        - path
        - size_bytes
        - is_dir
        - mod_time
        - mode
      properties:
        name:
          type: string
          description: Base name of the file or directory.
        path:
          type: string
          description: Absolute path.
        size_bytes:
          type: integer
          description: Size in bytes. 0 for directories.
        is_dir:
          type: boolean
          description: Whether the path is a directory.
        mod_time:
          type: string
          format: date-time
          description: Last modification time.
        mode:
          type: string
          description: File mode bits (e.g., "drwxr-xr-x" or "-rw-r--r--").
    ListFiles:
      type: array
      description: Array of file or directory information entries.
      items:
        $ref: '#/components/schemas/FileInfo'
    CreateDirectoryRequest:
      type: object
      required:
        - path
      properties:
        path:
          type: string
          description: Absolute directory path to create.
          pattern: ^/.*
        mode:
          type: string
          description: Optional directory mode (octal string, e.g. 755). Defaults to 755.
          pattern: ^[0-7]{3,4}$
      additionalProperties: false
    DeletePathRequest:
      type: object
      required:
        - path
      properties:
        path:
          type: string
          description: Absolute path to delete.
          pattern: ^/.*
      additionalProperties: false
    SetFilePermissionsRequest:
      type: object
      required:
        - path
        - mode
      properties:
        path:
          type: string
          description: Absolute path whose permissions are to be changed.
          pattern: ^/.*
        owner:
          type: string
          description: New owner username or UID.
        group:
          type: string
          description: New group name or GID.
        mode:
          type: string
          description: File mode bits (octal string, e.g. 644).
          pattern: ^[0-7]{3,4}$
      additionalProperties: false
    MovePathRequest:
      type: object
      required:
        - src_path
        - dest_path
      properties:
        src_path:
          type: string
          description: Absolute source path.
          pattern: ^/.*
        dest_path:
          type: string
          description: Absolute destination path.
          pattern: ^/.*
      additionalProperties: false
    BrowserCurlRequest:
      type: object
      description: Request to make an HTTP request through the browser's network stack.
      required:
        - url
      properties:
        url:
          type: string
          description: Target URL (must be http or https).
        method:
          type: string
          description: HTTP method.
          enum:
            - GET
            - HEAD
            - POST
            - PUT
            - PATCH
            - DELETE
            - OPTIONS
          default: GET
        headers:
          type: object
          description: Custom headers merged with browser defaults.
          additionalProperties:
            type: string
        body:
          type: string
          description: Request body (for POST/PUT/PATCH).
        timeout_ms:
          type: integer
          description: Request timeout in milliseconds.
          minimum: 1000
          maximum: 60000
          default: 30000
        response_encoding:
          type: string
          description: Encoding for the response body. Use base64 for binary content.
          enum:
            - utf8
            - base64
          default: utf8
      additionalProperties: false
    BrowserCurlResult:
      type: object
      description: Structured response from the browser curl request.
      required:
        - status
        - headers
        - body
        - duration_ms
      properties:
        status:
          type: integer
          description: HTTP status code from target.
        headers:
          type: object
          description: Response headers (multi-value).
          additionalProperties:
            type: array
            items:
              type: string
        body:
          type: string
          description: Response body (UTF-8 string or base64 depending on request).
        duration_ms:
          type: integer
          description: Total request duration in milliseconds.
      additionalProperties: false
    BrowserCurlTransportError:
      type: object
      description: Transport-level error when the request could not complete.
      required:
        - message
      properties:
        message:
          type: string
          description: Human-readable error description.
        net_error:
          type: integer
          description: Chromium net error code.
        net_error_name:
          type: string
          description: Chromium net error name.
      additionalProperties: false
    ProcessExecRequest:
      type: object
      description: Request to execute a command synchronously.
      required:
        - command
      properties:
        command:
          type: string
          description: Executable or shell command to run.
        args:
          type: array
          description: Command arguments.
          items:
            type: string
          default: []
        cwd:
          type: string
          description: Working directory (absolute path) to run the command in.
          nullable: true
          pattern: ^/.*
        env:
          type: object
          description: Environment variables to set for the process.
          additionalProperties:
            type: string
          default: {}
        as_user:
          type: string
          description: Run the process as this user.
          nullable: true
        as_root:
          type: boolean
          description: Run the process with root privileges.
          default: false
        timeout_sec:
          type: integer
          description: Maximum execution time in seconds.
          nullable: true
      additionalProperties: false
    ProcessExecResult:
      type: object
      description: Result of a synchronous command execution.
      properties:
        exit_code:
          type: integer
          description: Process exit code.
        stdout_b64:
          type: string
          description: Base64-encoded stdout buffer.
        stderr_b64:
          type: string
          description: Base64-encoded stderr buffer.
        duration_ms:
          type: integer
          description: Execution duration in milliseconds.
      additionalProperties: false
    ProcessSpawnRequest:
      allOf:
        - $ref: '#/components/schemas/ProcessExecRequest'
        - type: object
          properties:
            allocate_tty:
              type: boolean
              description: Allocate a pseudo-terminal (PTY) for interactive shells.
              default: false
            rows:
              type: integer
              description: Initial terminal rows. Only used when allocate_tty is true.
              minimum: 1
              maximum: 65535
            cols:
              type: integer
              description: Initial terminal columns. Only used when allocate_tty is true.
              minimum: 1
              maximum: 65535
    ProcessResizeRequest:
      type: object
      description: Resize a PTY-backed process terminal.
      required:
        - rows
        - cols
      properties:
        rows:
          type: integer
          minimum: 1
          maximum: 65535
          description: New terminal rows.
        cols:
          type: integer
          minimum: 1
          maximum: 65535
          description: New terminal columns.
      additionalProperties: false
    ProcessSpawnResult:
      type: object
      description: Information about a spawned process.
      properties:
        process_id:
          type: string
          format: uuid
          description: Server-assigned identifier for the process.
        pid:
          type: integer
          description: OS process ID.
        started_at:
          type: string
          format: date-time
          description: Timestamp when the process started.
      additionalProperties: false
    ProcessStatus:
      type: object
      description: Current status of a process.
      properties:
        state:
          type: string
          enum:
            - running
            - exited
          description: Process state.
        exit_code:
          type: integer
          nullable: true
          description: Exit code if the process has exited.
        cpu_pct:
          type: number
          description: Estimated CPU usage percentage.
        mem_bytes:
          type: integer
          description: Estimated resident memory usage in bytes.
      additionalProperties: false
    ProcessStdinRequest:
      type: object
      description: Data to write to the process standard input.
      required:
        - data_b64
      properties:
        data_b64:
          type: string
          description: Base64-encoded data to write.
      additionalProperties: false
    ProcessStdinResult:
      type: object
      description: Result of writing to stdin.
      properties:
        written_bytes:
          type: integer
          description: Number of bytes written.
      additionalProperties: false
    ProcessKillRequest:
      type: object
      description: Signal to send to the process.
      required:
        - signal
      properties:
        signal:
          type: string
[...]
